html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

h5 {
    padding: 20px;
    color: #91806e;
}

.navbar {
    background-color: #3a3838;
    padding: 10px;
}

.navbar-text {
    color: #c85e1b;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
}

.input-group {
    padding-left: 15px;
    padding-right: 15px;
}

.signin-button {
    background-color: #da4a28;
    color: #fff;
}

.signin-div {
    background-color: #f9f5f3;
    padding: 15px;
}
